* {
    margin: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

nav , a {
    text-decoration: none;
    background-color: deepskyblue;
    color: black;
    width: 100%;
    height: 50px;
    text-align: right;
}

a {
    margin-right: 5px;
    margin-top: 5px;
}

nav {
    position: absolute;
}

#a1,#a2,#a3,#a4,#a5 {
    margin-left: 10px;
}

#Konten{
    text-align: left;
    position: relative;
    top: 100px;
    left: 18px;
}

img {
    width: 230px;
}